<ul class="addComment">
      <li class="active">
      <label>Select Category</label>
         <select class="form-control prefix-input">
            <option>Show HN:</option>
            <option>Ask HN:</option>
            <option>Other</option>
         </select>
      </li>
       <label>Name</label>
      <input class="form-control vote-input" /></li>
      <li>
       <label>Comments</label>
      <input class="form-control comments-input" /></li>
      <li><button class="btn btn-primary add-post" id="add">add</button>
      </li>
   </ul>